#nav-2
  .nav-2-head
    p.en ABOUT DULE
    p.cn 都乐文化
  ul
    li(class=get_nav_active(feature_nav, 'index'))
      a(href=url('culture')) 企业宗旨
    li(class=get_nav_active(feature_nav, 'news'))
      a(href=url('culture/news')) 都乐新闻
    li(class=get_nav_active(feature_nav, 'spirit'))
      a(href=url('culture/spirit')) 企业精神



