#nav-2
  .nav-2-head
    p.en ABOUT DULE
    p.cn 关于都乐
  ul
    li(class=get_nav_active(feature_nav, 'index'))
      a(href=url('about')) 公司概况
    li(class=get_nav_active(feature_nav, 'speech'))
      a(href=url('about/speech')) 董事长致辞
    li(class=get_nav_active(feature_nav, 'managers'))
      a(href=url('about/managers')) 管理团队
    li(class=get_nav_active(feature_nav, 'development'))
      a(href=url('about/development')) 发展历程
    li(class=get_nav_active(feature_nav, 'honors'))
      a(href=url('about/honors')) 都乐荣誉
