#nav-2
  .nav-2-head
    p.en ABOUT DULE
    p.cn 卓越能力
  ul
    li(class=get_nav_active(feature_nav, 'index'))
      a(href=url('capacity')) 研发团队
    li(class=get_nav_active(feature_nav, 'engineer'))
      a(href=url('capacity/engineer')) 制造能力
    li(class=get_nav_active(feature_nav, 'quality'))
      a(href=url('capacity/quality')) 品质护航

