#nav-2
  .nav-2-head
    p.en PRODUCT
    p.cn 产品中心
  ul
    li(class=get_nav_active(feature_nav, 'optics'))
      a(href=url('products/optics')) 光学模具系列
    li(class=get_nav_active(feature_nav, 'lenses'))
      a(href=url('products/lenses')) 成像镜头系列
    li(class=get_nav_active(feature_nav, 'lamp'))
      a(href=url('products/lamp')) 照明镜片系列
    li(class=get_nav_active(feature_nav, 'robot'))
      a(href=url('products/robot')) 机器人系列
    li(class=get_nav_active(feature_nav, 'toys'))
      a(href=url('products/toys')) 日本益智玩具系列

